html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* CSS Variables */
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #424141;
    --secondary-color: #2096ea;
    --line-height: 1rem;
    --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: "Roboto", sans-serf;
}

.nav-logo ul li {
    list-style-type: none;
}

.nav-logo a {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-logo a:hover {
    color: var(--secondary-color);
}

.cap {
    color: var(--secondary-color);
}

.mr {
    color: var(--primary-color);
}

.engineer {
    color: var(--secondary-color);
}


.nav-logo {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-2 {
    display: none;
}

.logo {
    font-size: 1rem;
    font-weight: 300;
}

.nav-logo ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-weight: var(--bold-font);
}

.section-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.9rem;
    max-width: 1100px;
    margin: 2rem auto -6rem;
}


.intro-text h3 {
    margin-bottom: 0.5rem;
}

.section-2 p {
    line-height: var(--line-height);
}

.hear {
    color: var(--primary-color);
}

.connecting {
    color: var(--secondary-color);
}


/* BUTTON_SECTION */

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 0.6rem;
    border: none;
    font-size: 1.4rem;
    border-radius: 5px;
    color: #fff;
}

.red {
    background-color: var(--secondary-color);
    margin-right: 1.5rem;
}

.red:hover {
    background-color: #2b2e8e;
    color: #fff;
}

.blue {
    background-color: var(--primary-color);
}

.blue:hover {
    background-color: #f9700e;
    color: #fff;
}

/* VIDEO_SECTION */

iframe {
    max-width: 30rem;
    border-top: 40px groove var(--primary-color);
    border-bottom: 40px groove var(--primary-color);
    border-right: 28px solid var(--secondary-color);
    border-left: 28px solid var(--secondary-color);
}

.stand-1 {
    height: 90px;
    width: 6px;
    background-color: var(--primary-color);
    transform: rotate(40deg);
    position: relative;
    top: -16px;
    left: 200px;
}

.stand-2 {
    height: 90px;
    width: 6px;
    background-color: var(--secondary-color);
    transform: rotate(-40deg);
    position: relative;
    top: -105px;
    left: 255px;
}

/* ABOUT SECTION */

.about {
    position: relative;
    background: url("/UI-project-v2/image/WhiteKeyword.png") no-repeat top center/cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
}

.about h3 {
    font-size: 2em;
    margin-bottom: -10px;
}

.about p {
    font-size: 1.5em;
}

/* .about h3 {
    text-shadow: 2px 2px 2px #333;
}

.about p {
    text-shadow: 2px 2px 2px #333;
    font-size: 1.8rem;
} */


/* SLIDSHOW */

element.style {
    max-width: 800px;
}

.photo-gallary {
    max-width: 980px;
}

.photo-gallary {
    margin-left: auto;
    margin-right: auto;
}


.photo-gallary-container {
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

div {
    display: block;
}


.style {
    width: 100%;
}

.photo-text-white,
.btn-hover-text-white:hover {
    color: #fff !important;
}

.photo-section {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.photo-center {
    text-align: center !important;
}

.photo-large {
    font-size: 18px !important;
}

.photo-container {
    padding: 0.01em 16px;
}

.photo-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.photo-container:after {
    content: "";
    display: table;
    clear: both;
}


.photo-container:after {
    content: "";
    display: table;
    clear: both;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h2 {
    background-color: #2096ea;
    text-align: center;
    font-size: 30px;
    margin: 20px auto;
    border-radius: 10px;
}

h2:hover {
    border: 1px solid #333;
    padding: 5px;
    content: icon;
    cursor: pointer;
    background-color: tomato;
    border-radius: 10px;
}

.btn-left {
    float: left;
    cursor: pointer;
    margin: auto;
    padding: 5px;
    font-size: 30px;
    vertical-align: middle;
    padding: 5px;
    width: 30px;
}

.btn-right {
    float: right;
    cursor: pointer;
    margin: auto;
    padding: 5px;
    vertical-align: middle;
    font-size: 30px;
    width: 30px;
}

.btn-left:hover {
    background-color: #2096ea;
    border-radius: 10px;
}

.btn-right:hover {
    background-color: #2096ea;
    border-radius: 10px;
}

.btn-div {
    margin-bottom: 16px !important;
}






/* NEW HEADER */


header {
    background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg');
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
    margin: auto;
}

.overlay {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);

}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

h3,
p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    margin: auto;
    text-align: center;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
}

button:hover {
    cursor: pointer;
}